body {
  margin: 0;
  padding: 0;
}

.picture {
  padding: 0;
  margin: 20px;
  width: 1200px;
  height: 540px;
  display: block;
  background-image: url("picture-1.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

@media (width: 1024px) {
  .picture {
    width: 940px;
    height: 540px;
  }
}

@media (width: 768px) {
  .picture {
    width: 716px;
    height: 440px;
  }
}

@media (width: 320px) {
  .picture {
    width: 296px;
    height: 400px;
  }
}
